AlignAfterOpenBracket: AlwaysBreak
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakAfterReturnType: TopLevel
BasedOnStyle: LLVM
BinPackParameters: false
BreakBeforeBraces: Linux
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentWidth: 4
TabWidth: 4
UseTab: ForContinuationAndIndentation
