# binaries
*.o
*.a
*.so
*.so.*

# benchmarks
compare
compare_rev
count
mismatch
pack
replace
revcomp

# meson files
subprojects/Catch2-*
subprojects/packagecache
subprojects/benchmark-*

# perf
perf.data*

builddir
